@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{

  font-family: 'Kanit';
  text-decoration: none;
}




/*---INDEX---*/


.hero-section {

  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/imghero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(252, 251, 249);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center

}
.hero-section .segundo-parrafo{
  margin-left: 10px;
  margin-top: 10px;

}
.hero-parrafo{
  font-size: 50px;
  margin-top: 10px;

}

.segundo-parrafo{
  font-size: 20px;

}

.hero-section img {

  width: 500px;
  height: 500px;
}

.hero-section  .hero-imagen img {
  width: 200px;
  height: 200px;
  
}







/* Section productos destacados*/

.descubrir-section{
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-decoration:none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
  padding-top: 0;
}

h2{
  text-decoration: underline;
  background-color: black;
  text-align: center;
  color: white;
  margin-bottom: 0;
  

}


.titulos-descubrir{
  text-decoration: underline;

}

.ver-mas{
  text-decoration: none;
  color: darkgoldenrod;
}

.card-productos{
  /*border: 3px solid white;*/
  margin: 10px;
  width: 300px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}

.card-productos  p{
  text-align: center;
}



.card-productos a{
margin: 10px;

}


.descubrir-section .card-productos img{
  width: 180px;
  height: 180px;
}

/* Section categorias*/



.nuestras-categorias h2{
  text-decoration: underline;

  
}
.nuestras-categorias{
  color: white;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: url("../img/imgcategorias.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none;


}


.navegacion-categorias ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  margin-top: 30px;
  text-decoration: none;
  
}

.navegacion-categorias ul a{
  color: white;
}


.navegacion-categorias .imagen-categorias{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}





/*---FOOTER---*/

footer{
  background-color: rgb(5, 130, 202);;
  width:100%;
  height: 300px;
  
}

footer h3 {
  text-decoration: underline;
  color: white;

}


footer a{
  text-decoration: none;
  color: white;
}


footer  img{

  width: 20px; 
  height: 20px;
  
  
}

.icono-wpp{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;

}






/* Box model*/

.caja{
  width: 40%;
  height: 50vh;
  background-color: red;
  text-align: center;
  border: 3px solid black;
  margin: 10px;
}

.contenedor{
  display: flex;
  justify-content: center;
  flex-direction:row;
  align-items: center;
  padding: 10px;
}
  .contenedor .caja img{
    width: 200px;
    height: 200px;
  text-align: center;
}


.caja .teclado-a{
  text-align: end;
}

/* Grid */

footer {
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
}

.items-grid {
width: 200px;
height:200px;
}

.items-grid a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.items-grid h3{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.items-grid img{
  margin-left: 10px;
}

/* Media Quires */
@media screen and (max-width:1010px){
  .nuestras-categorias{
    height: auto;
  }
  .nuestras-categorias ul {
    flex-direction: column;
    font-size: 15px;
    margin: 0;
    
    
  }
  .navegacion-categorias .imagen-categorias{
    width: 83px;
    height: 83px;
    margin: 0px;

  }
}

@media screen and (max-width:957px) {
  .descubrir-section{
    flex-direction:column;
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width:820px) {
  header {
    position: static;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li a{
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width:755px) {
  footer {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin: 0;
    padding: 0;
    
  }

  .items-grid a{
    flex-direction: column;
    margin-bottom: 0px;
    padding:0;

  }
  .items-grid h3 {
    flex-direction: column;
    margin-bottom: 0px;
    padding:0;
  }
  
}

@media screen and (max-width:676px){
  header {
    flex-direction: column;
  }
  
}





@media  screen and (max-width:635px) {
  .hero-parrafo{
    margin-top: 0;
    font-size: 30px;
  }
  .segundo-parrafo{
    font-size: 15px;
    margin: 0;
  }
  .hero-section .hero-imagen img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

}




/* Bootstrap */
.container-fluid a{
  color: rgb(255, 255, 255);
}

.bg-menu{
  background-color: rgb(0, 0, 0);
  height: 5%;

}
.btn-outline-success{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid darkgoldenrod;
}

.btn-outline-success:hover{
  background-color: rgb(115, 255, 0);
  border: 1px solid rgb(5, 5, 5);
}

.dropdown-menu a{
  color: black;

}

.navbar-toggler-icon{
background-color: rgb(255, 255, 255);
  
}

/* Descubrir css*/


h1{
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  background-color: black;
  margin-bottom: 0;
}

.parrafos-descubrirsection{
  text-align: center;
  background-color: black;
  color: white;
  height: 150px;
  margin-top: 0;
  
}


.descubrir-valorados{
background-color: black;
color: white;
display: grid;

}

.descubrir-valorados div {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  place-items: center;
  align-items: center;
}


.descubrir-valorados img {
  grid-column: 1; /* la imagen ocupa la primera columna */
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.descubrir-valorados p {
  grid-column: 2;
  text-align: center;
}

.descubrir-valorados h2 {
  grid-column: 2; /* el título ocupa la segunda columna */
  text-align: center; 
  margin-bottom: 10px; 
  font-size: 30px;
  margin-top: 15px;
}
.descubrir-valorados button {
  grid-column: 1;
  grid-row: 2;
  margin-top: 10px;
}
/* Media Quires Descubrir*/
@media (max-width: 820px)
  {
    h1{
      font-size:18px; 
    }
    

  .parrafos-descubrirsection {
    font-size: 14px; 
    height: 100px; 
  }
}
@media (max-width: 815px) {
  .descubrir-valorados div {
    grid-template-columns: 1fr; 
  }
  .descubrir-valorados img {
    width: 200px; 
    height: 200px; 
  }
  .descubrir-valorados p {
    grid-column: 1; 
  }
  .descubrir-valorados h2 {
    grid-column: 1; 
    font-size: 20px;
  }
}

/* CSS categorias html*/
p{
  color: black;
}
h2, h3 {
  color: #FFFFFF; /* Blanco */
}

.categoria-mouse, .categoria-teclados, .categoria-mousepad, .categoria-auriculares {
  background-color: #00a5f8; /* Color principal */
  margin: 0; 
  padding: 0; 
  width: 100%; 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  margin-top: 10px;
  
}

.categoria-imagen {
  width: 30%;
  float: left;
  margin-right: 20px;
  
}

.categoria-info {
  float: right;
  width: 65%;
  margin-top: 10px;
  background-color: #006494; /* Color de fondo para la información */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.caracteristicas-producto {
  clear: both;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  background-color: #0582CA; /* Color de fondo para las características */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.columna-1, .columna-2, .columna-3, .columna-4 {
  background-color: #00A6FB; /* Color de fondo para las columnas */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  margin-top: 15px;
}

.botones {
  clear: both;
  position: relative;
  top: 80px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;

}
/*Media Queries*/

@media (max-width: 745px) {
  .caracteristicas-producto {
    grid-template-columns: 1fr; /* Una columna */
  }
  .columna-1, .columna-2, .columna-3, .columna-4 {
    margin-bottom: 20px; /* Espacio entre columnas */
  }
  .categoria-imagen, .categoria-info {
    width: 100%; /* Ancho completo */
    float: none; /* No flotar */
    margin-bottom: 20px; /* Espacio entre elementos */
  }
}

/*CSS Contacto html*/


section {
  padding: 50px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la primera sección */
.section-contacto {
  background-color: #051923;
  color: #00A6FB;
}

/* Estilos para la segunda sección */
.section-formulario {
  background-color: #0582CA;
  color: #ffffff;
}

/* Estilos para las imágenes */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 10px;
}

li img {
  width: 200px;
  height: 200px;
  
}

/* Estilos para el formulario */
.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

.btn-primary {
  background-color: #003554;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #051923;
}

/* Media Queries Contacto*/
@media (max-width: 1070px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
  li {
    margin: 10px 0;
  }
  li img {
    width: 100%;
    height: auto;
  }
}


/* CSS Productos html*/

.section-productos{
  background-color: #051923;
  color: #00A6FB;
}

.section-productos .botones a {
  text-decoration: none;
  color: #0582CA;
}

.section-productos .compra{
  background-color: #003554;
  color: #FFFFFF;
}

/* Estilos generales */

.contenido {
  max-width: 1200px;
  padding: 20px;
  background-color: #051923;
  color: #00A6FB;
}

.carousel-inner img {
  width: 100%;
  height: 250px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  background-color: #0582CA;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background-color: #051923;
}

/* Estilos para los títulos y párrafos */

h2 {
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
}

p {
  margin-bottom: 20px;
  color: #0582CA;
  text-align: center;
}

/* Estilos para los botones */

.botones {
  margin-top: 20px;
}

.boton {
  background-color: #006494;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #003554;
}

/* Estilos para los carruseles */

#carouselAsus,
#carouselCorsair,
#carouselRedragon,
#carouselLogitech {
  width: 50%;
  height: 250px;
  margin: 0 auto;
  background-color: #051923;
}

.combos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.combo {
  flex-basis: 45%;
  margin: 20px;
  align-items: center;
}

.combo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.combo h3 {
  color: #00A6FB;
  margin-bottom: 10px;
}

.combo p {
  color: #0582CA;
  margin-bottom: 20px;
}

.combo .btn-group {
  float: right;
}

.combo .btn-group .btn {
  background-color: #006494;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.combo .btn-group .btn:hover {
  background-color: #003554;
}

.combo .btn-outline-info {
  background-color: #003554;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.combo .btn-outline-info:hover {
  background-color: #051923;
}

/* Medias queries*/

@media (max-width: 720px) {
  .carousel-inner img {
    width: 150px;
    height: 150px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 20px;
    height: 20px;
    top: 50%; /* centra verticalmente */
    transform: translateY(-50%); /* ajusta la posición vertical */
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 10px;
  }
}



@media (max-width: 420px) {
  .combos {
    flex-direction: column;
    align-items: center;
  }
  .combo {
    flex-basis: 100%;
    margin: 20px 0;
    max-width: 300px; /* ajusta el ancho máximo según sea necesario */
  }
}